---
layout: default
images:
  - image_path: /img/portfolio/city-behind-wire.jpg
    title: Apple Pie
  - image_path: /img/portfolio/city-in-the-sun.jpg
    title: Birthday Cake
  - image_path: /img/portfolio/grunge-city-scape.jpg
    title: Black Forest
  - image_path: /img/portfolio/namdaemun-opening.jpg
    title: Brownie
  - image_path: /img/portfolio/seoul-city-church.jpg
    title: Cheese Cake
  - image_path: /img/portfolio/seoul-city-grunge.jpg
    title: Chocolate Cake
  - image_path: /img/portfolio/seoul-height.jpg
    title: Fruit Cake
  - image_path: /img/portfolio/seoul-pathway.jpg
    title: Lamington
  - image_path: /img/portfolio/seoul-the-city.jpg
    title: Lemon Cake
  - image_path: /img/portfolio/seoul.jpg
    title: Lemon Cake
  - image_path: /img/portfolio/the-city.jpg
    title: Lemon Cake
---

<ul class="photo-gallery">
  {% for image in page.img %}
    <li><img src="{{ image.image_path }}" alt="{{ image.title}}"/></li>
  {% endfor %}
</ul>
